.contactBox {
	display: flex;
	flex-wrap: wrap;
}

.contactBox_item {
	width: calc(50% - 15px);
	margin-bottom: 67px;
}

.contactBox_item.w100 {
	width: 100%;
}

.contactBox_item:nth-child(1),
.contactBox_item:nth-child(3) {
	margin-right: 30px;

}

.contact_label {
	display: block;
	margin-bottom: 10px;
	color: #939393;
}

.contactBox_inp {
	display: block;
	width: 100%;
	height: 35px;
	padding-bottom: 15px;
	background-color: transparent;
	color: #fff;
	border: none;
	border-radius: 0;
	font-size: 16px;
	font-weight: 500;
	border-bottom: 1px solid #fff;
	border-color: #383838;
}

.contact-us-white .contactBox_inp {
	color: #000;
	border-color: #939393;
}

.contactBox_inp.error {
	color: #ff004d;
	border-color: #ff004d;
}

.error_text {
	display: none;
	line-height: 19px;
	color: #ff004d;
	font-size: 12px;
}

.contactBox_inp.error+.error_text,
.contactBox_sel.error+.error_text {
	display: block;
}

.contactBox_selBox {
	display: flex;
}

.contactBox_sel {
	flex: 0 0 80px;
	height: 35px;
	margin-right: 20px;
	padding-right: 30px;
	padding-bottom: 15px;
	background-color: transparent;
	color: #fff;
	font-size: 16px;
	border: none;
	border-bottom: 1px solid #fff;
	appearance: none;
	background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg width='9' height='6' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='m1 1 3.536 3.535L8.07 1' stroke='%23fff'/%3E%3C/svg%3E");
	background-position: calc(100% - 2px) 7px;
	background-repeat: no-repeat;
	background-size: 11px;
}

.contact-us-white .contactBox_sel {
	background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg width='13' height='8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='m12.146 1.271-5.5 5.004-5.5-5.004' stroke='%23000' stroke-width='2'/%3E%3C/svg%3E") !important;
	color: #000;
	border-color: #939393;
}

.contactBox_item.w100 .contactBox_sel {
	width: 100%;
}

.contactBox_sel.error {
	border-color: #ff004d;
	color: #ff004d;
}


.contact_text {
	width: 100%;
	height: 35px;
	padding-bottom: 15px;
	background-color: transparent;
	border: none;
	border: none;
	border-bottom: 1px solid #fff;
	border-color: #383838;
	font-size: 16px;
	font-weight: 500;
	color: #fff;
}

.contact-us-white.nowhite .footer__info .footer__inner {
	background: transparent;
}

@media (max-width:1429px) {
	.contact-us-white.nowhite .footer__info {
		background: #000;
	}

	.contact-us-white .contacts-form__title {
		color: #fff;
	}
}

.contact-us-white .contact_text {
	border-color: #939393;
	color: #000;

}

textarea::placeholder {
	color: #939393;
}

.contactBox_agree {
	display: block;
	margin-bottom: 67px;
	padding: 15px 0 30px;
	line-height: 20px;
}

.contactBox_agree span {
	position: relative;
	display: block;
	padding-left: 36px;
	color: #939393;
}

.contactBox_agree span::before {
	content: "";
	position: absolute;
	left: 0;
	top: -3px;
	display: block;
	width: 24px;
	height: 24px;
	border: 2px solid #383838;
	border-radius: 3px;
}

.contactBox_agree span::after {
	content: "";
	position: absolute;
	top: -5px;
	left: 3px;
	width: 26px;
	height: 20px;
	background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjciIGhlaWdodD0iMjEiIGZpbGw9Im5vbmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PHBhdGggZD0ibTIuNjczIDkuNjU3IDguNDg1IDguNDg1LTIuMTIxIDIuMTIyLTguNDg1LTguNDg2IDIuMTIxLTIuMTIxWiIgZmlsbD0iIzAwMCIvPjxwYXRoIGQ9Ik0yNi41OTggMi43MDIgOS43NDQgMTkuNTU3bC0yLjEyMS0yLjEyMkwyNC40NzcuNTgxbDIuMTIxIDIuMTIxWiIgZmlsbD0iIzAwMCIvPjwvc3ZnPg==);
	background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjciIGhlaWdodD0iMjEiIGZpbGw9Im5vbmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PHBhdGggZD0ibTIuNjczIDkuNjU3IDguNDg1IDguNDg1LTIuMTIxIDIuMTIyLTguNDg1LTguNDg2IDIuMTIxLTIuMTIxWiIgZmlsbD0iI2ZmZiIvPjxwYXRoIGQ9Ik0yNi41OTggMi43MDIgOS43NDQgMTkuNTU3bC0yLjEyMS0yLjEyMkwyNC40NzcuNTgxbDIuMTIxIDIuMTIxWiIgZmlsbD0iI2ZmZiIvPjwvc3ZnPg==);

	background-position: 50%;
	background-repeat: no-repeat;
	background-size: contain;
	opacity: 0;
}

.contact-us-white .contactBox_agree span::after {
	background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg width='27' height='20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='m2.745 9.076 8.486 8.485-2.122 2.122-8.485-8.486 2.121-2.121Z' fill='%2300ADFF'/%3E%3Cpath d='M26.67 2.121 9.817 18.975l-2.12-2.12L24.548 0l2.122 2.121Z' fill='%2300ADFF'/%3E%3C/svg%3E") !important;
}

.contactBox_check {
	position: absolute;
}

.contactBox_check[type=checkbox]:checked~span:after {
	opacity: 1;
}

.contactBox_agree a {
	color: #fff;
	font-weight: 700;
}

.contact-us-white .contactBox_agree a {
	color: #939393;
}

.contactBox_submit {
	width: 100%;
	margin-top: 67px;
	padding: 18px 25px;
	font-size: 18px;
	font-weight: 600;
	line-height: 26px;
	background: #00adff;
	color: #fff;
	border: none;
	border-radius: 3px;
	background: #00adff;
	border: none;
	border-radius: 3px;
	font-family: Montserrat, sans-serif;
	letter-spacing: -.02em;
	transition: .15s ease;
	cursor: pointer;
}

.contactBox_submit:hover {
	opacity: .9;
}

@media (max-width:768px) {
	.contactBox_item {
		width: 100%;
	}

	.contactBox_item:nth-child(1),
	.contactBox_item:nth-child(3) {
		margin-right: 0px;
	}
}